{% extends 'base.html' %}
{% load crispy_forms_tags  %}

{% block title %}Изменить пароль - {% endblock %}

{% block content %}
<div class="border p-5 my-3 mx-auto col-md-8 shadow-lg rounded bg-ligh">
    <h2 class="text-center text-primary">Изменить пароль</h2><br>
    <p class=" text-info fw-bold" style="font-size: 17px;">В первый старый парол после введите новый парол два разв! <p>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-success">Изменить</button>
    </form>
    </div>
{% endblock %}