{% extends 'base.html' %}

{% block title %}Все cтатьи- {% endblock title %}

{% block content %}

<br>
    <div class="container">
        {% for article in object_list %}
            <div class="card " >
                <div class="card-header">
                    <span class="font-weight-bold"><a href="{% url 'article_detail' article.pk %}"><h4>{{ article.title }}</h4></a></span>
                </div>
                {% if article.photo %}
                    <img class="card-img-top gedgf" style="width:70%"   src="{{ article.photo.url }}" alt="{{ article.title }}">
                {%  endif %}
                <div class="card-body">
                    {{ article.summary }}... <a href="{% url 'article_detail' article.pk %}">Подробно</a>
                </div>
                <div class="card-footer text-left text-muted">
                    <span class="text-muted">Автор: {{ article.author | title }} &middot; {{ article.date }}</span>
                </div>
            </div>
            <br /><br><br>
        {% endfor %}
    </div>
{% endblock content %}