{% load static %}

{% block extrahead %}
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
    {{ block.super }}
{% endblock %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}FAYZDEV Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'style.css' %}">
        </head>
        <style>
            .gedgf{
                width: 70%;
            }
            .say-me-hello{
                position: fixed;
                right: 0px;
                bottom: 150px;
                font-size: 20px;
                display: flex;
            }
            
            

        </style>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f8cc63;">
            <a class="navbar-brand text-danger " style="font-weight: bold;" href="{% url 'article_list' %}">
                <img src="/static/assets/img/fayzdev.png" width="160" height="40" class="" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                {% if user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#"
                                id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{ user.username | title }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'article_new' %}">Новый статья</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'password_change'%}">Семенить пароль</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">Выход из система</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <form class="form-inline ml-auto">
                        <a href="{% url 'login' %}" class="btn btn-outline-light">Войти</a>
                        <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Регистрация</a>
                    </form>
                {% endif %}
            </div>
        </nav>

        <main>
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </main>
        <div class="say-me-hello d-flex" >
            <a class="btn btn-outline-dark btn-floating m-1 d-flex justify-content-center align-items-center "  href="https://t.me/mansur_tg" role="button">
            
           <i class="fab fa-telegram fa-2x" ></i></a>
            
        </div>
        <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
              <!-- Section: Social media -->
              <section class="mb-1">
                
                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://t.me/mansur_tg" role="button"
                  ><i class="fab fa-telegram"></i
                ></a>
          
                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://instagram/mansur.fayziev_005?igshid=ZDdkNTZiNTM=" role="button"
                  ><i class="fab fa-instagram"></i
                ></a>
          
                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/%D0%BC%D0%B0%D0%BD%D1%81%D1%83%D1%80-%D1%84%D0%B0%D0%B9%D0%B7%D0%B8%D0%B5%D0%B2-42412425b" role="button"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
          
                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/mansurfayziev" role="button"
                  ><i class="fab fa-github"></i
                ></a>
              </section>
              <!-- Section: Social media -->
            </div>
            <!-- Grid container -->
          
            <!-- Copyright -->
            <div class="text-center p-3" style="font-size: 18px; background-color: rgba(0, 0, 0, 0.2);">
              © 2023 Copyright:
              <a class="text-white" href=""> FAYZDEV</a>
                <span style="margin-left: 30px;">Author: <a href="" class="link text-white">Mansur Fayziev</a></span>
            </div>

            <!-- Copyright -->
          </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
          
    </body>
</html>